.hero-banner {
  background-image: url('../img/h.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.title {
  font-size: 5rem;
  color: #ffffff;
}

.description {
  font-size: 2rem;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }
}
